@font-face {
  font-family: Roboto;
  src: '../assets/fonts/Roboto/Roboto-Light.ttf'
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  --color-text-primary: #383838;
  --color-text-secondary: #646464;
  --lightgray: #DBDBDB;
  --white: #fff;
  /* TASKS COLORS */
  --purple: #AB00FC;
  --orange: #FC5B00;
  --blue: #0083FC;
  --pink: #FC0079;
  /* SIZES */
  --footer-height: 3rem;
}

body {
  background-color: var(--white);
}

.main_container {
  width: 100%;
  min-height: 100vh;
}

.icon-close {
  position: relative;
  cursor: pointer;
  opacity: 0.5;
  background-image: url('../assets/img/cerrar.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


