.list {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: width 0.5s;
  overflow: hidden;
  background-color: var(--white);
}

.list.show {
  width: 100%;
  z-index: 5;
  overflow-y: auto;
}

.list-header {
  width: 100%;
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--white);
  transition: background 0.7s;
}

.list-header .header-container {
  width: 100%;
  max-width: 45rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.list-header .list-title {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
} 

.list-header .btnBack {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: none;
  filter: invert(100%);
  cursor: pointer;
  background-color: transparent;
}

.list-header .btnBack:active, .list-header .btnBack:focus, .list-header .delete:active, .list-header .delete:focus {
  outline: none;
}

.list-header .btnBack img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}
.list-header .delete {
  position: relative;
  width: 2rem;
  height: 2rem;
  border: none;
  filter: invert(100%);
  cursor: pointer;
  background-color: transparent;
}

.list-header .delete img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
}

.tasks-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  color: var(--color-text-primary);
}
.tasks-container .tasks-wrapper {
  width: 100%;
  max-width: 45rem;
}

.tasks-container .tasks-title {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 1%;
  margin-bottom: 2.5rem;
  border-bottom: 3px solid var(--lightgray);
}

.tasks-container .tasks {
  width: 100%;
  margin-bottom: 2rem;
}

.tasks-container .no-tasks {
  font-size: 2rem;
  text-align: center;
  color: var(--lightgray);
}
/* COLORS */
.list.pink .list-header {
  box-shadow: 0px 2px 10px var(--pink);
}
.list.orange .list-header {
  box-shadow: 0px 2px 10px var(--orange);
}
.list.blue .list-header {
  box-shadow: 0px 2px 10px var(--blue);
}
.list.purple .list-header {
  box-shadow: 0px 2px 10px var(--purple);
}
.list.pink .list-header, .list.pink .btn.add_task {
  background-color: var(--pink);
}
.list.orange .list-header, .list.orange .btn.add_task {
  background-color: var(--orange);
}
.list.blue .list-header, .list.blue .btn.add_task {
  background-color: var(--blue);
}
.list.purple .list-header, .list.purple .btn.add_task {
  background-color: var(--purple);
}